NODE_ENV=development

# API
VITE_AUTH_API_URL=http://localhost:8001
VITE_BACKEND_API_URL=http://localhost:8000

# Auth - "mock" | "google" | "cognito"
VITE_AUTH_PROVIDER=mock
VITE_GOOGLE_CLIENT_ID=

# Feature Flags
VITE_ENABLE_GOOGLE_DRIVE_UPLOAD=false
VITE_SHOW_GOOGLE_DRIVE_UPLOAD=false
VITE_SHOW_UPLOAD_METRICS=false
VITE_SHOW_COMPRESSION_METRICS=true
VITE_SYSTEM_DOWN=false
VITE_DEMO_MODE=false
