NODE_ENV=development

# API
VITE_API_BASE_URL=https://nebuli-eng.simuli.ai/api/v3

# Auth - "mock" | "cognito"
VITE_AUTH_PROVIDER=mock

# Feature Flags
VITE_ENABLE_GOOGLE_DRIVE_UPLOAD=false
VITE_SHOW_GOOGLE_DRIVE_UPLOAD=false
VITE_SHOW_UPLOAD_METRICS=false
VITE_SHOW_COMPRESSION_METRICS=true
VITE_SYSTEM_DOWN=false
VITE_DEMO_MODE=false
